body{
  background-image: url(http://momoirocode.web.fc2.com/backtatami2.jpg);
}

div{
  /*width: 100%;*/
  text-align: center;
}
div#view{
  z-index: 0;
}

img {
width: 100%;
}

a {
 color: blue;
 text-decoration: underline;
}

.dock-button{
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 10;
}

.w3-sidebar{
  z-index: 20;
}

.hidden-image{
  display: none;
}

.footer{
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: white;
  font-size: 70%;
}
.footer-promotion{
  padding-top: 30px;
  background-color: white;
}
.footer-note{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  font-size: 70%; /* (1 / footer) / footer-note */
}
.footer-note-links{
  font-family: Lato;
  margin-right: 10px;
  margin-left: 10px;
  
}